:root {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 62.5%;
  width: 100%;
  overflow-x: hidden;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;

  --primary-blue: #08c5d5;
  --primary-hover: #0056b3;
  --almost-white: #f9f9f9;
  --border-white: #e0e0e0;
  --text-gray: #666;
  /* Dark mode colors */
  --primary-blue-dark: #065F65;  
  --primary-hover-dark: #4fa3ff;  
  --almost-black: #1a1a1a; 
  --border-gray-dark: #444;  
  --text-light-gray: #ccc; 

  --gap: 16px;
  /* Brödtext */
  --mobile-font: 1.6rem; /* 16px */
  --desktop-font: 1.8rem; /* 18px */

  /* H1 */
  --mobile-h1: 3.2rem; /* 32px */
  --desktop-h1: 6.4rem; /* 50px */

  /* H2 */
  --mobile-h2: 2.8rem; /* 28px */
  --desktop-h2: 4rem; /* 40px */

  /* H3 */
  --mobile-h3: 2.4rem; /* 24px */
  --desktop-h3: 3.2rem; /* 32px */

  /* H4 */
  --mobile-h4: 2rem; /* 20px */
  --desktop-h4: 2.8rem; /* 28px */

  /* H5 */
  --mobile-h5: 1.8rem; /* 18px */
  --desktop-h5: 2.4rem; /* 24px */

}

[data-theme="dark"] {
  --primary-blue: var(--primary-blue-dark);
  --primary-hover: var(--primary-hover-dark);
  --border-white: var(--border-gray-dark);
  background-color: var(--almost-black);
  color: var(--almost-white);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
body {
  display: flex;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1223px;
  margin-left: auto;
  margin-right: auto;
}
#app {
  display: flex;
  flex-direction: column;

}

.hidden {
  display: none;
}
h1,
h2,
h3,
h4,
h5,
p,
span,
button {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
button, a {
  color: inherit;
  background-color: inherit;
}


@media screen and (min-width: 768px) {
  #app {
    min-height: 100vh;
  }
}
